Package: bladeos-repo
Version: 13.1
Priority: required
Source: bladeos.xyz
Depends: apt
Maintainer: NovusOh <novus@novusoh.xyz>
Architecture: all
Description: This package contains the repo & signature for Blade OS.
