Source: bladeos-desktop
Section: gnome
Priority: optional
Maintainer: NovusOh <novus@novusoh.xyz>

Package: bladeos-desktop
Version: 13.0~pre1
Architecture: all
Maintainer: NovusOh <novus@novusoh.xyz>
Depends: bash, desktop-base, systemd, gnome-shell, gnome-shell-extension-appindicator, fonts-quicksand, adw-gtk3-theme, colloid-icon-theme
Section: gnome
Priority: optional
Description: GNOME session for Blade OS.
