Package: base-files
Version: 14.0.0~beta1
Architecture: amd64
Essential: yes
Maintainer: Santiago Vila <sanvila@debian.org>
Installed-Size: 333
Pre-Depends: awk
Breaks: debian-security-support (<< 2019.04.25), initscripts (<< 2.88dsf-13.3), sendfile (<< 2.1b.20080616-5.2~)
Replaces: base, dpkg (<= 1.15.0), miscutils
Provides: base, usr-is-merged
Section: admin
Priority: required
Multi-Arch: foreign
Description: Blade OS base system files.
